<!DOCTYPE html>
<html lang="en">

<body class="no-skin">

<div class="main-container" id="main-container">
  <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
    <div class="main-content">
    <div class="main-content-inner">
      <div class="widget-main seach_part breadcrumbs">
        <form class="form-search">
          <div class="row">
            <div class="col-xs-12 col-sm-10 no_mar">
             <div class="col-sm-11">
              <div class="input-group">
                <input type="text" class="form-control search-query" placeholder="Type your query">
                <span class="input-group-btn">
                <button type="button" class="btn btn-purple btn-sm"> <span class="ace-icon fa fa-search icon-on-right bigger-110"></span> Search </button>
                </span> </div></div>
                
                <div class="col-sm-1 pull-right">
              <button class="btn btn-primary">Back</button>
            </div>
                <div class="clearfix"></div>
            </div> 
          </div>
        </form> 
      </div>
     
      <div class="page-content">
        
        <!-- /.page-header -->
        <!--start body part-->
        <div class="row">
          
           <div class="col-xs-12">
           <div class="col-sm-8 no-padding-left">
           <h2>Recent Details</h2>
            <table id="simple-table" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Student Name</th>
                  <th>Class</th>
                  <th>Roll</th>
                  <th>Section</th>
                  <th>Registration No.</th>
                  <th>Parent Name</th>
                  <th>Phone</th>
                  <th>Date of Admission</th>
                  <th>Class of Admission</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Prakash Kumar</td>
                  <td>12th</td>
                  <td>0235</td>
                  <td>A</td>
                  <td>022525050502</td>
                  <td>Sashi Kumar</td>
                  <td>7685859054</td>
                  <td>10/01/2015</td>
                  <td>5th</td>
                </tr>
                <tr>
                  <td>Prakash Kumar</td>
                  <td>12th</td>
                  <td>0235</td>
                  <td>A</td>
                  <td>022525050502</td>
                  <td>Sashi Kumar</td>
                  <td>7685859054</td>
                  <td>10/01/2015</td>
                  <td>5th</td>
                </tr>
                <tr>
                  <td>Prakash Kumar</td>
                  <td>12th</td>
                  <td>0235</td>
                  <td>A</td>
                  <td>022525050502</td>
                  <td>Sashi Kumar</td>
                  <td>7685859054</td>
                  <td>10/01/2015</td>
                  <td>5th</td>
                </tr>
                <tr>
                  <td>Prakash Kumar</td>
                  <td>12th</td>
                  <td>0235</td>
                  <td>A</td>
                  <td>022525050502</td>
                  <td>Sashi Kumar</td>
                  <td>7685859054</td>
                  <td>10/01/2015</td>
                  <td>5th</td>
                </tr>
              </tbody>
            </table>
            
             <h2>Payment Due</h2>
              <table id="" class="table table-striped table-bordered table-hover">
             <tr>
             <th>Select</th>
                  <th>Type</th>
                  <th>Date</th>
                  <th>Payment For</th>
                  <th>Amount</th>
                  <th>Fine</th>
                </tr>
  <tr>
  <td><input type="checkbox"></td>
    <td>Exam fee</td>
    <td>10/10/2014</td>
    <td>Dec</td>
    <td>5000</td>
    <td>300</td>
  </tr>
 <tr>
 <td><input type="checkbox"></td>
    <td>Library fee</td>
    <td>10/10/2014</td>
    <td>Dec</td>
    <td>5000</td>
    <td>300</td>
  </tr>
   <tr>
   <td><input type="checkbox"></td>
    <td>Late fee</td>
    <td><strong>Total</strong></td>
    <td>3 Months</td>
    <td>12000</td>
    <td>1000</td>
  </tr>
<tr>
    <td colspan="6" align="center"><strong>Total Due is : 5000</strong></td>
  </tr>  
</table>
<div class="pull-right">
<button type="button" class="btn btn-sm btn-success">Send Reminder</button>
</div>

            
            </div>
            
            <div class="col-sm-4 history_right">
             <h2>History</h2>
             <table id="" class="table table-striped table-bordered history_table">
             <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Month</th>
                </tr>
<tr data-toggle="modal" data-target="#myModal">
    <td>10/10/2014</td>
    <td>5000</td>
    <td>June</td>
  <!--  <td><a href="#" data-toggle="modal" data-target="#myModal">Details</a></td>-->
  </tr>
  <tr data-toggle="modal" data-target="#myModal">
    <td>10/10/2014</td>
    <td>5000</td>
    <td>July</td>
  </tr>
   <tr data-toggle="modal" data-target="#myModal">
    <td>10/10/2014</td>
    <td>5000</td>
    <td>Dec</td>
  </tr>
   <tr data-toggle="modal" data-target="#myModal">
    <td>10/10/2014</td>
    <td>5000</td>
    <td>Dec</td>
  </tr>
</table>

             

             </div>
            <div class="clearfix"></div>
            
      
          </div>
          
        </div>
        <!--end body part-->
        <!-- /.row -->
      </div>
      <!-- /.page-content -->
    </div>
  </div>
  <!-- /.main-content -->
  <div class="footer">
    <div class="footer-inner">
      <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">Ace</span> Application &copy; 2013-2014 </span> &nbsp; &nbsp; <span class="action-buttons"> <a href="#"> <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-rss-square orange bigger-150"></i> </a> </span> </div>
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> </a> </div>
<!-- /.main-container -->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Payment History</h4>
      </div>
      <div class="modal-body">
        <form class="" role="form">
        <div class="row">
<div class="col-sm-4">
<dl id="dt-list-1">
<dt>Payment Date</dt>
<dd>10/10/2015</dd>
</dl>
</div>
          

<div class="col-sm-4">
<dl id="dt-list-1">
<dt>Payment Mode</dt>
<dd>Online</dd>
</dl>
</div>   

<div class="col-sm-4">
<dl id="dt-list-1">
<dt>Payment For June</dt>
<dd>2000</dd>
</dl>
</div>   
   
<div class="col-sm-4">
<dl id="dt-list-1">
<dt>Fees Type</dt>
<dd>Cash</dd>
</dl>
</div>
          

<div class="col-sm-4">
<dl id="dt-list-1">
<dt>Payment Name</dt>
<dd>Exam Fee</dd>
</dl>
</div>   

<div class="col-sm-4">
<dl id="dt-list-1">
<dt>Amount</dt>
<dd>5000</dd>
</dl>
</div> 


<div class="col-sm-4">
<dl id="dt-list-1">
<dt>Payment Time</dt>
<dd>10:20am</dd>
</dl>
</div>

<div class="col-sm-4">
<dl id="dt-list-1">
<dt>Payment Phone No.</dt>
<dd>7685859025</dd>
</dl>
</div>     
          <div class="clearfix"></div>
          
          </div>
          
          <button class="btn btn-info pull-right" type="button">Ok</button>
          <div class="clearfix"></div>
        </form>
      </div>
      <!--<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->
    </div>
  </div>
</div>







</html>
