@charset "utf-8";
/* CSS Document */

/*============my css=======*/
span.input-icon{width:100%;}
.top_gap{margin-top:15px;}
.no_mar {
    margin: 0 auto;
    float: none !important;
}
.no_mar input[type="text"] {
    margin-top: 3px;
}



/*============fee setting=======*/

.ui-jqgrid .ui-pager-control{height:auto;}
.ui-jqgrid .ui-jqgrid-titlebar{font-size:14px;}
.ui-jqgrid tr.jqgrow td{height:35px; font-size:14px;}
.datepicker{z-index:9999!important;}
.show_row{display:block;}
.hide_row{display:none;}
.gap_top1{margin-top:20px;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.history_details{width:100%;}
.history_details ul{list-style:none; padding:0; margin:0;}
.history_details ul li{margin-bottom:10px;}
.history_details ul li a{color:#000; font-size:14px; text-decoration:none;}
.history_details ul li a:hover{color:#438eb9;}

.history_table table{width:100%;}
.history_table > tbody > tr:nth-child(odd) > td{ background-color:#fff;}
.history_table > tbody > tr:nth-child(even) > td{ background-color:#dfdede;}
.history_right{background: #eaeaea; margin-top: 56px; min-height:505px;}
.ui-jqgrid .ui-jqgrid-htable th div{height:auto!important;}




.top_section{margin:20px auto; width:75%;}
.advanced_btn{margin:20px auto 32px; width:12%;}





